<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="foter_logo">
          <div>
            <img src="assets/img/login_logo.svg" alt="img">
          </div>
          <p>
            درمانکده، ارائه دهنده خدمات آنلاین سلامت (نوبت گیری اینترنتی، مشاوره آنلاین، آزمایش در محل و ...)
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ftr_list_bx">
          <ul class="foter_list">
            <li><a   >درباره درمانکده </a></li>
            <li><a   >تماس با ما </a></li>
            <li><a   >مجله پزشکی</a></li>
          </ul>
          <ul class="foter_list">
            <li><a   >سوالات متداول </a></li>
            <li><a   >قوانین و مقررات </a></li>
            <li><a   >شکایت </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="namads">
          <div><img src="assets/img/nashan.jpg" alt="img"></div>
          <div><img src="assets/img/enamad.jpg" alt="img"></div>
        </div>
        <div class="icn_list">
          <ul>
            <li><a   ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a   ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a   ><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
