<section class="speciality">
  <div class="special_header">
    <h4>بهترین تخصص های درمانکده</h4>

    <!-- route to specialities component -->
    <a routerLink="/specialities">مشاهده همه <i class="fa fa-chevron-left" aria-hidden="true"></i></a>
  </div>
  <div class="special_body">
    <ul>
      <li>
        <!-- route to doctors-list component -->
        <a routerLink="/doctors">
          <div>
            <img src="assets/img/ortopedy_li.png" alt="img">
          </div>
          <p>ارتوپدی</p>
        </a>
      </li>
      <li>
        <a routerLink="/doctors">
          <div>
            <img src="assets/img/kolye_li.png" alt="img">
          </div>
          <p>اورولوژی</p>
        </a>
      </li>
      <li>
        <a routerLink="/doctors">
          <div>
            <img src="assets/img/post_li.png" alt="img">
          </div>
          <p> پوست و مو</p>
        </a>
      </li>
      <li>
        <a routerLink="/doctors">
          <div>
            <img src="assets/img/zanan_li.png" alt="img">
          </div>
          <p>زنان و زایمان</p>
        </a>
      </li>
      <li>
        <a routerLink="/doctors">
          <div>
            <img src="assets/img/dakheli_li.png" alt="img">
          </div>
          <p>داخلی</p>
        </a>
      </li>
      <li>
        <a>
          <div>
            <img src="assets/img/bini_li.png" alt="img">
          </div>
          <p>گوش، حلق و بینی</p>
        </a>
      </li>
      <li>
        <a routerLink="/doctors">
          <div>
            <img src="assets/img/magz_li.png" alt="img">
          </div>
          <p>مغز و اعصاب</p>
        </a>
      </li>
    </ul>
  </div>
</section>
