<section class="corona_sec">
  <h1>نگران کرونا نباشید</h1>
  <div class="crna_card">
    <a href="#">
      <div class="crna_img_bx">
        <img src="assets/img/corona_img2.png" alt="img">
      </div>
      <h6>
        تست PCR و آنتی بادی در محل
      </h6>
      <p>
        اگر در شهرهای تهران، مشهد، اصفهان، کرج، شیراز و اهواز هستید، می‌توانید بدون مراجعه به آزمایشگاه و در محل مدنظر
        خود آزمایش کرونا بدهید.
      </p>
      <button>درخواست آزمایش <i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    </a>
  </div>
  <div class="crna_card">
    <a href="#">
      <div class="crna_img_bx">
        <img src="assets/img/corona_img1.png" alt="img">
      </div>
      <h6>
        مشاوره آنلاین فوری
      </h6>
      <p>
        با تست آنلاین کرونا علائم خود را بررسی کنید و اگر مشکوک بودید میتوانید به صورت فوری با پزشکان عمومی مشاوره
        آنلاین داشته باشید.
      </p>
      <button>
        دریافت مشاوره فوری
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </button>
    </a>
  </div>
</section>
