<footer>
  <div class="row1">
    <div class="row1_img">
      <img src="assets/img/login_logo.svg" alt="img">
    </div>
    <p>درمانکده، ارائه دهنده خدمات آنلاین سلامت </p>
    <p>(نوبت گیری اینترنتی، مشاوره آنلاین، آزمایش در محل و ...) </p>
  </div>
  <div class="row2">
    <div class="list_one">
      <ul>
        <li><a href="#">درباره درمانکده </a></li>
        <li><a href="#">تماس با ما </a></li>
        <li><a href="#">مجله پزشکی</a></li>
      </ul>
    </div>
    <div class="list_two">
      <ul>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="list_three">
      <ul>
        <li><a href="#">سوالات متداول </a></li>
        <li><a href="#">قوانین و مقررات </a></li>
        <li><a href="#">شکایت </a></li>
      </ul>
    </div>
  </div>
  <div class="row3">
    <p>با ثبت‌نام در خبرنامه درمانکده، اولین نفری باشید که از جدیدترین خبرها، جشنواره‌ها و تخفیف های ویژه ما مطلع
      می‌شوید </p>
    <form>
      <div class="input_group">
        <input type="text" placeholder="نام">
        <input type="text" placeholder="نام خانوادگی">
      </div>
      <input type="email" placeholder="ایمیل">
      <div class="sub_box2">
        <button class="submit">عضو می شوم</button>
      </div>
    </form>
  </div>
  <div class="row4">
    <div><img src="assets/img/nashan.jpg" alt="img"></div>
    <div><img src="assets/img/enamad.jpg" alt="img"></div>
  </div>
</footer>
