<section class="app_sec">
  <div class="app_page">
    <div class="app_right">
      <div class="app_img">
        <img src="assets/img/app_img.png" alt="img">
      </div>
      <div class="app_store">
        <ul>
          <li><img src="assets/img/google.png" alt="img"></li>
          <li><img src="assets/img/apple.png" alt="img"></li>
          <li><img src="assets/img/bazar.png" alt="img"></li>
        </ul>
      </div>
    </div>
    <div class="app_left">
      <div class="left_cntnt">
        <h3>دانلود اپلیکیشن درمانکده </h3>
        <p>با اپلیکیشن درمانکده با پزشکان و روانشناسان آنلاین مشاوره کنید یا برای ویزیت حضوری آنلاین نوبت بگیرید. </p>
        <h4>برای دریافت لینک دانلود، شماره موبایل خود را وارد کنید. </h4>
        <div class="app_inpt_bx">
          <input type="text" placeholder="مانند  09012345678">
          <div class="sub_box">
            <button type="submit"> ارسال لینک</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
