<section class="cmmnt_sec">
  <div class="cmmnt_page">
    <div class="right_side">
      <h4>نظرات و روند درمانی بیماران </h4>
      <p>شما می توانید تجربه مراجعه کاربران دیگر به پزشکان را بخوانید و از </p>
      <p>علت مراجعه سایر بیماران و روند درمانی آن ها آگاهی یابید. </p>
    </div>
    <div class="left_side">
      <div class="cmmnt_box">
        <div class="cmmnt_logo">
          <img src="assets/img/cmnt_logo.png" alt="img">
        </div>
        <div class="cmmnt_p">
          <p>
            نکته مهم برای من این بود که خانم دکتر انفرادی بیماران و ویزیت می کردند برخلاف بسیاری از دکترها که چندتا بیمار و با هم چک می کنند . واقعا از خانم دکتر جهت احترام به حریم خصوصی بیماران سپاسگزارم .
          </p>
        </div>
        <div class="cmmnt_foter">
          <div class="cm_foter_bdy">
            <div class="cm_img">
              <img src="assets/img/karbasi.jpg" alt="img">
            </div>
            <div class="cm_info">
              <h4>دکتر اشرف کرباسی</h4>
              <p>فوق تخصص گوارش، کبد و آندوسکوپی </p>
            </div>
            <button type="button">مشاهده سایر نظرات</button>
          </div>
        </div>
        <div class="cm_usr_name">
          <p>نظر صدیقه</p>
        </div>
      </div>
    </div>
  </div>
</section>
