<div class="log_page">
  <div class="side_box">
    <div class="log_img_box">
      <img src="assets/img/login_logo.svg" alt="logo">
    </div>
    <h2>به درمانکده خوش آمدید</h2>
    <h4>نوبت دهی آنلاین مطب پزشکان</h4>
  </div>
  <div class="log_box">
    <h4>برای ورود شماره همراه خود را وارد کنید.</h4>
    <form>
      <div class="input_lable">
        <label for="phone_num">شماره همراه</label>
        <div class="input_box">
          <input type="text" id="phone_num" placeholder="مثلا  09121234567">
        </div>
      </div>
      <button type="submit">دریافت کد تایید  <i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
      <button type="button">کد معرف دارید؟</button>
    </form>
  </div>
</div>
