<div class="log_page">
  <div class="side_box">
    <div class="log_img_box">
      <img src="assets/img/login_logo.svg" alt="logo">
    </div>
    <h2>به درمانکده خوش آمدید</h2>
    <h4>نوبت دهی آنلاین مطب پزشکان</h4>
  </div>
  <div class="log_box">
    <h4>برای ورود نام کاربری و رمز خود را وارد کنید.</h4>
    <div class="col-6 m-auto">
      <div class="input_lable">
        <label for="phone_num">نام کاربری</label>
        <div class="input_box">
          <input type="text" id="phone_num" placeholder="نام کاربری خود را وارد کنید" [(ngModel)]="username">
        </div>
      </div>
      <div class="input_lable mt-3">
        <label for="phone_num">رمز عبور</label>
        <div class="input_box">
          <input type="password" id="phone_num" placeholder="رمز عبور خود را وارد کنید" [(ngModel)]="password">
        </div>
      </div>
      <button type="submit" (click)="onSubmit()">ورود <i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
      <button type="button" [routerLink]="['/register/doctor']">ثبت نام دکتر</button>
      <button type="button" [routerLink]="['/register/patient']">ثبت نام بیمار</button>

    </div>
  </div>
</div>
