<app-top-nav></app-top-nav>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="corona_side">
          <img src="assets/img/corona_side.png" alt="img">
        </div>
        <div class="srch_side">
          <h6>جستجو در نتایج </h6>
          <div class="mnu_srch_bx">
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="تخصص مورد نظر خود را جستجو کنید...">
          </div>
        </div>
        <div class="filter_bx">
          <span>تخصص</span>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <div class="filter_bx">
          <span>زمان نوبت</span>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <div class="filter_bx">
          <span>بیمارستان</span>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <div class="filter_bx">
          <span>جنسیت</span>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <div class="shw_hid_bx">
          <p>
            نمایش پزشکان دارای مشاوره آنلاین
          </p>
          <span></span>
        </div>
      </div>
      <div class="col-md-9">
        <div class="dctr_lst_hed">
          <p><i class="fa fa-outdent" aria-hidden="true"></i> مرتب سازی براساس :</p>
          <ul>
            <li class="active"><a>منتخب</a></li>
            <li><a>بیشترین رضایتمندی</a>
            </li>
            <li><a>زودترین نوبت</a></li>
          </ul>
        </div>
        <div class="dctr_lst_bx">
          <ul class="dctr_lst">
            <li class="dctr_lst_li" *ngFor="let doctor of doctors; let i = index">
              <div class="dctr_card">
                <a [routerLink]="['/doctor', doctor['id']]">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-7">
                        <div class="dctr_img_bx">
                          <img [src]="doctor['avatar']" alt="img">
                        </div>
                        <div class="dctr_expln_bx">
                          <h5>
                            {{doctor['name']}}
                          </h5>
                          <h6>
                            {{doctor['spec']}}
                          </h6>
                          <ul class="star_list">
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          </ul>
                          <span>({{doctor['comments']}} نظر )</span>
                          <p>
                            {{doctor['comment_text']}}
                          </p>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="address_bx">
                          <ul>
                            <li>
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                              {{doctor['location']}}
                            </li>
                            <li><i class="fa fa-tablet" aria-hidden="true"></i> تجربه
                              کاری {{doctor['experience_years']}} سال
                            </li>
                            <li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{doctor['user_percent']}} درصد
                              رضایت کاربران
                            </li>
                          </ul>
                        </div>
                        <div class="btn_like_bx">
                          <div class="sub_box">
                            <button type="submit">نوبت بگیر !</button>
                          </div>
                          <div class="like_bx"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                        </div>
                        <div class="nobat">
                          اولین نوبت خالی
                          {{doctor['first_empty_date']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about_speciality">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about_bx">
          <h5>هر آنچه که باید از<span> فوق تخصص گوارش، کبد و آندوسکوپی </span> بدانید! </h5>
          <p>
            متخصص گوارش، کبد و آندوسکوپی پزشکی که بر سلامت گوارش تمرکز دارد و در زمینه تشخیص، ارزیابی و درمان اختلالات
            دستگاه گوارش، سندروم روده تحریک‌ پذیر تا هپاتیت C تخصص دارد، متخصص گوارش، آندوسکوپی و کبد نام دارد. متخصص
            گوارش عمل جراحی انجام نمی‎دهد و اگر لازم باشد ممکن است با یک جراح
          </p>
          <button>بیشتر بخوانید <i class="fa fa-angle-down" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>

<!--start question-->
<section class="q_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="q_box">
          <h4>فوق تخصص گوارش، کبد و آندوسکوپی </h4>
          <ul>
            <li>
              <i class="fa fa-plus" aria-hidden="true"></i>
              ⭐تفاوت بین آندوسکوپی و کولونوسکوپی چیست؟
            </li>
            <li>
              <i class="fa fa-plus" aria-hidden="true"></i>
              ⭐علت به وجود آمدن سرطان روده چیست؟
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End question-->
<app-corona></app-corona>
<app-application></app-application>
<app-footer></app-footer>
