<app-top-nav></app-top-nav>
<app-carousel></app-carousel>
<section class="specialitys_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="specialitys_mnu">
          <div class="spclt_mnu_head">
            <i class="fa fa-align-right" aria-hidden="true"></i>
            <h5>همه تخصص ها</h5><span>(به ترتیب حروف الفبا) </span>
          </div>
          <div class="spclt_mnu_body">
            <div class="mnu_srch_bx">
              <button type="submit"><i class="fa fa-search"></i></button>
              <input type="text" placeholder="تخصص مورد نظر خود را جستجو کنید...">
            </div>
            <span>ا</span>
            <ul>
              <li><a href="#">ارتوپدی </a></li>
              <li><a href="#">ارتوپدی کودکان </a></li>
              <li><a href="#">ارتوز و پروتز(ارتوپدی فنی) </a></li>
              <li><a href="#">استروتاکسی و فانکشنال مغز و اعصاب </a></li>
            </ul>
            <span>ب</span>
            <ul>
              <li><a href="#">بالون آنژیوپلاستی </a></li>
              <li><a href="#">بالون آنژیوپلاستی و والوپلاستی</a></li>
              <li><a href="#">بیماری های عفونی و تب دار </a></li>
              <li><a href="#">بیماریهای پوست و مو </a></li>
            </ul>
            <span>پ</span>
            <ul>
              <li><a href="#">پوست و مو </a></li>
              <li><a href="#">پیوند کلیه </a></li>
            </ul>
            <span>ت</span>
            <ul>
              <li><a href="#">تعویض مفاصل و آرتروسکوپی </a></li>
              <li><a href="#">تغذیه </a></li>
              <li><a href="#">توانبخشی شناختی </a></li>
              <li><a href="#">توراکس </a></li>
            </ul>
          </div>
          <div class="spclt_mnu_ftr">
            <a href="#">اسکرول کنید <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="specialitys_card">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-6 col-sm-6">
                <div class="card_bx">
                  <a routerLink="/doctors">
                    <div class="card_hdr">
                      <div class="crd_img">
                        <img src="assets/img/kabed_crd.svg" alt="img">
                      </div>
                      <div class="crd_title">
                        <h4>گوارش و کبد</h4>
                      </div>
                    </div>
                    <div class="card_bdy">
                      متخصص گوارش، کبد و آندوسکوپی پزشکی که بر سلامت گوارش تمرکز دارد و در زمینه تشخیص، ارزیابی و درمان
                      اختلالا
                    </div>
                    <div class="card_foter">
                      <div class="doctors_img">
                        <img src="assets/img/doctor1.jpg" alt="img">
                        <img src="assets/img/doctor2.jpg" alt="img">
                        <img src="assets/img/doctor3.jpg" alt="img">
                        <span>+109 پزشک</span>
                      </div>
                      <a routerLink="/doctors">
                        <button>مشاهده <i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                      </a>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-6 col-sm-6">
                <div class="card_bx">
                  <a routerLink="/doctors">
                    <div class="card_hdr">
                      <div class="crd_img">
                        <img src="assets/img/chshm_crd.svg" alt="img">
                      </div>
                      <div class="crd_title">
                        <h4>چشم</h4>
                      </div>
                    </div>
                    <div class="card_bdy">
                      متخصص غدد و متابولیسم پزشکی است که بیماری‌های هورمونی را به طور کامل مطالعه کرده و بهترین
                      درمان‌های ممکن ...
                    </div>
                    <div class="card_foter">
                      <div class="doctors_img">
                        <img src="assets/img/doctor1.jpg" alt="img">
                        <img src="assets/img/doctor2.jpg" alt="img">
                        <img src="assets/img/doctor3.jpg" alt="img">
                        <span>+109 پزشک</span>
                      </div>
                      <button>مشاهده <i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-6 col-sm-6">
                <div class="card_bx">
                  <a routerLink="/doctors">
                    <div class="card_hdr">
                      <div class="crd_img">
                        <img src="assets/img/bini_crd.svg" alt="img">
                      </div>
                      <div class="crd_title">
                        <h4>گوش، حلق و بینی</h4>
                      </div>
                    </div>
                    <div class="card_bdy">
                      پزشکی که در زمینه تشخیص، مراقبت‌های پزشکی، جراحی و درمان بیمارانی که دچار اختلالات گوش، بینی،
                      دهان، گلو، ...
                    </div>
                    <div class="card_foter">
                      <div class="doctors_img">
                        <img src="assets/img/doctor1.jpg" alt="img">
                        <img src="assets/img/doctor2.jpg" alt="img">
                        <img src="assets/img/doctor3.jpg" alt="img">
                        <span>+109 پزشک</span>
                      </div>
                      <button>مشاهده <i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-6 col-sm-6">
                <div class="card_bx">
                  <a routerLink="/doctors">
                    <div class="card_hdr">
                      <div class="crd_img">
                        <img src="assets/img/asab_crd.svg" alt="img">
                      </div>
                      <div class="crd_title">
                        <h4>مغز و اعصاب</h4>
                      </div>
                    </div>
                    <div class="card_bdy">
                      متخصص گوارش، کبد و آندوسکوپی پزشکی که بر سلامت گوارش تمرکز دارد و در زمینه تشخیص، ارزیابی و درمان
                      اختلالا
                    </div>
                    <div class="card_foter">
                      <div class="doctors_img">
                        <img src="assets/img/doctor1.jpg" alt="img">
                        <img src="assets/img/doctor2.jpg" alt="img">
                        <img src="assets/img/doctor3.jpg" alt="img">
                        <span>+109 پزشک</span>
                      </div>
                      <button>مشاهده <i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-6 col-sm-6">
                <div class="card_bx">
                  <a routerLink="/doctors">
                    <div class="card_hdr">
                      <div class="crd_img">
                        <img src="assets/img/khon_crd.svg" alt="img">
                      </div>
                      <div class="crd_title">
                        <h4>خون و آنکولوژی</h4>
                      </div>
                    </div>
                    <div class="card_bdy">
                      متخصص غدد و متابولیسم پزشکی است که بیماری‌های هورمونی را به طور کامل مطالعه کرده و بهترین
                      درمان‌های ممکن ...
                    </div>
                    <div class="card_foter">
                      <div class="doctors_img">
                        <img src="assets/img/doctor1.jpg" alt="img">
                        <img src="assets/img/doctor2.jpg" alt="img">
                        <img src="assets/img/doctor3.jpg" alt="img">
                        <span>+109 پزشک</span>
                      </div>
                      <button>مشاهده <i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-6 col-sm-6">
                <div class="card_bx">
                  <a routerLink="/doctors">
                    <div class="card_hdr">
                      <div class="crd_img">
                        <img src="assets/img/zanan_crd.svg" alt="img">
                      </div>
                      <div class="crd_title">
                        <h4>زنان و زایمان</h4>
                      </div>
                    </div>
                    <div class="card_bdy">
                      پزشکی که در زمینه تشخیص، مراقبت‌های پزشکی، جراحی و درمان بیمارانی که دچار اختلالات گوش، بینی،
                      دهان، گلو، ...
                    </div>
                    <div class="card_foter">
                      <div class="doctors_img">
                        <img src="assets/img/doctor1.jpg" alt="img">
                        <img src="assets/img/doctor2.jpg" alt="img">
                        <img src="assets/img/doctor3.jpg" alt="img">
                        <span>+109 پزشک</span>
                      </div>
                      <button>مشاهده <i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-6 col-sm-6">
                <div class="card_bx">
                  <a routerLink="/doctors">
                    <div class="card_hdr">
                      <div class="crd_img">
                        <img src="assets/img/post_crd.svg" alt="img">
                      </div>
                      <div class="crd_title">
                        <h4>پوست و مو</h4>
                      </div>
                    </div>
                    <div class="card_bdy">
                      متخصص گوارش، کبد و آندوسکوپی پزشکی که بر سلامت گوارش تمرکز دارد و در زمینه تشخیص، ارزیابی و درمان
                      اختلالا
                    </div>
                    <div class="card_foter">
                      <div class="doctors_img">
                        <img src="assets/img/doctor1.jpg" alt="img">
                        <img src="assets/img/doctor2.jpg" alt="img">
                        <img src="assets/img/doctor3.jpg" alt="img">
                        <span>+109 پزشک</span>
                      </div>
                      <button>مشاهده <i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-6 col-sm-6">
                <div class="card_bx">
                  <a routerLink="/doctors">
                    <div class="card_hdr">
                      <div class="crd_img">
                        <img src="assets/img/roma_crd.svg" alt="img">
                      </div>
                      <div class="crd_title">
                        <h4>روماتولوژی</h4>
                      </div>
                    </div>
                    <div class="card_bdy">
                      متخصص غدد و متابولیسم پزشکی است که بیماری‌های هورمونی را به طور کامل مطالعه کرده و بهترین
                      درمان‌های ممکن ...
                    </div>
                    <div class="card_foter">
                      <div class="doctors_img">
                        <img src="assets/img/doctor1.jpg" alt="img">
                        <img src="assets/img/doctor2.jpg" alt="img">
                        <img src="assets/img/doctor3.jpg" alt="img">
                        <span>+109 پزشک</span>
                      </div>
                      <button>مشاهده <i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-6 col-sm-6">
                <div class="card_bx">
                  <a routerLink="/doctors">
                    <div class="card_hdr">
                      <div class="crd_img">
                        <img src="assets/img/magz_crd.svg" alt="img">
                      </div>
                      <div class="crd_title">
                        <h4>جراحی مغز </h4>
                      </div>
                    </div>
                    <div class="card_bdy">
                      پزشکی که در زمینه تشخیص، مراقبت‌های پزشکی، جراحی و درمان بیمارانی که دچار اختلالات گوش، بینی،
                      دهان، گلو، ...
                    </div>
                    <div class="card_foter">
                      <div class="doctors_img">
                        <img src="assets/img/doctor1.jpg" alt="img">
                        <img src="assets/img/doctor2.jpg" alt="img">
                        <img src="assets/img/doctor3.jpg" alt="img">
                        <span>+109 پزشک</span>
                      </div>
                      <button>مشاهده <i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
